{% extends 'blog/base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>our apparts</title>
</head>
<body>
{% block content %}

{% for appartement in appartements %}
<br>

<h4> {{appartement.town}} , adresse:{{appartement.address}} ,</h4>

<br>

<div>
    <img src="{{ appartement.app_image.url}}" style="max-height:300px">
<form action="{% url  'show_num' appartement.id   %}" method="POST">
    {%csrf_token%}
    <button type="submit", name="appart_id", value="{{appartement.id}}", class="btn btn-primary btn-sm"> number</button>

</form>

</div>

<h5>{{appartement.pieces}} rooms, {{appartement.cost}}/nigth, parking: {{appartement.parking}}</h5>

<br>
<hr>




{% endfor %}




{% endblock %}
</body>
</html>