{% load static %}


<html lang="en">
<head>

    <link rel="stylesheet " href="{% static 'css/main2.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e32549a3fd.js" crossorigin="anonymous"></script>
    <title>Document</title>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home'  %}">home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotelowner'%}">advertise my hotel</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="{% url 'search'%}"> search hotel </a>

        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'myappart' %}">my appart</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'appartements' %}">our appartements</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'app' %}">our appartements</a>
      </li>




    </ul>

    <div class="w3-right w3-hide-small">

      <a href="#contact" class="w3-bar-item w3-button">connected as {{user}}</a>
    </div>

  </div>
</nav>





</head>
{% block content %}
<body>










{% endblock %}




</body>

</html>




