{% extends 'blog/base.html'%}
{% load static %}

{% block content %}
<h3> Welcome {{user}} </h3>




<h3> more of thousand hotels and apartments for you around Israel</h3>

<a href="{% url 'myappart' %}">
<button class="button2"> i renting my appart</button>
</a>

<a href="{% url 'look_app' %}">
<button class="button1"> look for app</button>
</a>

<br>
<br>
<ul>
    {% for town in towns  %}
    <button  type="button"  class="btn">
        <a href="{% url 'town' town.id %}" > {{town.id}} {{town.name}} </a>
    </button>
    {% endfor %}
</ul>

<hr>
<br>
<h3>  </h3>

<div class="format-pic">
    <a href="http://localhost:8000/town/2">
    <img src="../static/css/Jerusalem.jpg" style="max-height:300px"><b>Jerusalem</b>
         </a>

</div>
 {% for town in towns  %}



<div>

    <div class="format-pic">
        <a href="{% url 'town' town.id %}" >
            <img class="photo" src="{{town.image_town.url}}" style="max-height:300px" > <b>{{town.name}}</b>

        </a>
    </div>
    {% endfor %}




</div>


<div>



</div>



<button type="submit">
  <a href="{% url 'logout' %}"> logout </a>
</button>





{% endblock %}