{% extends 'blog/base.html'%}
{% load static %}


{% block content %}

<h1>The {{hotel.name}} <i class="far fa-star"></i></h1>

<p> his cost is {{hotel.cost}} ₪ per nigth</p>

<div>
 <img src="{{ hotel.hotel_Main_Img.url }}" width="300", style="max-height:300px">
</div>

<b> {{test}}</b>

<div class="split right">
<h1> what they said about that hotel</h1>
 <h3> Comments </h3>


</div>


<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    {% csrf_token %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">submit</button>
    </form>

{% for post in posts %}
<table>
    <tr>
        {{post}}
    </tr>

</table>
{% endfor %}





















{% endblock %}

