{% extends 'blog/base.html'%}
{% load static %}


{% block content %}

<h1>The {{hotel.name}}</h1>

<p> his cost is {{hotel.cost}} per nigth</p>

<div>
 <img src="{{ hotel.hotel_Main_Img.url }}" width="300", style="max-height:300px">
</div>

<b> {{test}}</b>

<div class="split right">
<h1> what they said about that hotel</h1>
 <h3> Comment from {{user}}</h3>
 {% for post in posts %}
 <p> {{post.title}}from {{post.author}}</p>

{% endfor %}
</div>


<form action="{% url  'like_hotel' hotel.id   %}" method="POST">
    {%csrf_token%}
    <button type="submit", name="hotel_id", value="{{hotel.id}}", class="btn btn-primary btn-sm"> like</button> {{count}}likes
</form>






















{% endblock %}

