






<H1> want to rent   your appartement ... It 's here</H1>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
    <table>
        {{ form.as_p }}
    </table>
    {% csrf_token %}

    <button type="submit">SUBMIT</button>

</form>
</div>




</div>
{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.address}}</h3>
  <img src="{{ img_obj.app_image.url}}" alt="connect" style="max-height:300px">
{% endif %}



<button><a href="{% url 'home' %} "> homepage </button>

