{% extends 'blog/base.html'%}
{% load static %}


{% block content %}

{% for post in posts %}
<p> {{post.comment}}</p>
<p> {{post.body}}</p>
<form action="{% url 'post:notation' }" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post_id" value={{post.id}}>
    {% if user not in post.likes.all() %}
    <button class="ui button positive" type="submit">like</button>
    {% else %}
    <button class="ui button negative" type=" submit"> Unlike</button>


    {% endif %}
{% endfor %}





</form>









{% endblock %}