{% extends 'blog/base.html'%}
{% load static %}
<html>
<head>
    <link rel="stylesheet " href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
{% block content %}

<h4> welcome {{user}}</h4>

<br>
<br>

<div class="container">
    <form method="POST" action="/search">
     {%csrf_token%}
    <div class="form-group">
        <div class="col-lg-5">
    <input type="text" name="q" class="form-control" placeholder="hotel's name">
        </div>
        <label class="col-lg-2">
            <button type="submit" class="btn btn-danger">Search</button>

        </label>

    </div>
    </form>

</div>

<h4> {{count}} results </h4>
<div>
{% if messages %}
<ul class="message">
   {% for message in messages %}
	   <li style="color:red">{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}


</div><br>
<div style="color:blue">
    {% if results %}
    {% for result in results %}
    <table>
        <ul>
            <li>Name:{{result.name}}</li>
            <li>Cost:{{result.cost}}</li>
            <li>Town:{{result.town}}</li>
        </ul>
    </table>

    {% endfor %}




</div>
{% endif %}


{% endblock %}


</body>


</html>