{% extends 'blog/base.html'%}
{% load static %}
<html>
<head>
    <link rel="stylesheet " href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
{% block content %}

<h3> welcome {{user}}</h3>




<form method="POST">
     {%csrf_token%}
    <input type="text" name="q" placeholder="your comment">
    <input TYPE="submit" value="save"/>


</form>

<p>{{kwarg}}</p>

{% for town in towns %}

<h3> TOWNS</h3>


 <p> {{town.name}}</p>

{% endfor %}








<ul>
    {% for town in towns  %}
    <li>
        <a href="{% url 'town' town.id %}" > {{town.id}} {{town.name}} </a>
    </li>
    {% endfor %}
</ul>



{% endblock %}


</body>


</html>