.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.titre{
 color: white;
 text-align: center;
}
/* Control the left side */
.left {
  left: 0;

}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

body{
  background-color : green ;
}

.container{

  width: 90 uv
  height: 100%

}

.bemember {
  border : solid , black , 1px
  width: 150 px
  height: 110 px
}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h2{
color : green;
}